.button {
  text-decoration: none;
  padding: 8px;
  border: 2px solid $color--text;
  color: $color--text;
  display: block;
  font-weight: bold;
  transition: .3s ease all;

  &:visited {
    color: initial;
    text-decoration: none;
  }

  &:hover {
    background-color: $color--text;
    color: #fff;
  }
}
