.carousel {
    height: 400px;
    width: 100%;
    overflow: hidden;
    position: relative;
    
    &__overlay {
        background: rgba(255, 255, 255, 0.22);
        height: 100%;
        width: 1440px;  
        position: absolute;
        left: calc((100vw - 1440px) / 2);   
        top: 0;
    }

    &__image {
        width: 100%;
        height: auto;
    }

    &__title {
        font-size: 32px;
        color: #fff;
        position: absolute;
        top: 150px;
        width: 100%;
        text-align: center;
    }

    &__sub-title {
        color: #fff;
        position: absolute;
        top: 240px;
        width: 100%;
        text-align: center;
        text-decoration: underline;
    }
}